/*#region Navigation */
.left-off-canvas-menu
{
     
    background-color:transparent !important; 
    min-heigth:500px !important;
}
.off-canvas-wrap.move-right, .off-canvas-wrap.move-left
{ 
    min-heigth:500px !important;    
}
.main-section
{
    margin: 0 1rem !important;    
}

.left-off-canvas-toggle span::after
{
content: "";
position: absolute;
display: block;
height: 0;
top: 50%;
margin-top: -0.44444rem;
left: 0.80556rem;
box-shadow: 0 0px 0 1px #000, 0 7px 0 1px #000, 0 14px 0 1px #000;
width: 0.88889rem;
}
.menu-icon-separate {
    width: 2.5rem;
    height: 2.5rem;
    display: block;
}
ul.off-canvas-list .depth-1
{
	margin-left:5px;
}
ul.off-canvas-list .depth-2
{
	margin-left:10px;
}
ul.side-nav .depth-1
{
	margin-left:15px;
}
ul.side-nav .depth-2
{
	margin-left:30px;
}
ul.off-canvas-list li a
{
    color:inherit !important;   
}
ul.off-canvas-list li a:hover
{
    color:inherit !important;  
    background-color: inherit !important; 
}
/*#endregion Navigation */

/*#region Symbol component*/
.symbol
{
	font-size: 1.5rem; 
	line-height: 2 !important;
	cursor: pointer;
	/*width: 30px;*/
	text-align: center;
	position: relative;
}
.symbol:hover
{
	color: gray;
}
.symbol:active
{
	color: #006cba;
}
/*#endregion Symbol component*/

/*#region Search component*/
.searchs-container {
    text-align: left;
}
.twitter-typeahead .tt-query,
.twitter-typeahead .tt-hint {
  margin-bottom: 0;
}
.tt-dropdown-menu {
  min-width: 100%;
  margin-top: 2px;
  padding: 5px 0;
  background-color: #fff;
  border: 1px solid #ccc;
  border: 1px solid rgba(0,0,0,.2);
  *border-right-width: 2px;
  *border-bottom-width: 2px;
  -webkit-border-radius: 2px;
     -moz-border-radius: 2px;
          border-radius: 2px;
  -webkit-box-shadow: 0 5px 10px rgba(0,0,0,.2);
     -moz-box-shadow: 0 5px 10px rgba(0,0,0,.2);
          box-shadow: 0 5px 10px rgba(0,0,0,.2);
  -webkit-background-clip: padding-box;
     -moz-background-clip: padding;
          background-clip: padding-box;
           max-height: 250px;
    overflow-y: auto;
}
.tt-suggestion {
  display: block;
  padding: 3px 0;
}
.tt-suggestion.tt-is-under-cursor a {
  color: #fff;
}
.tt-suggestion p {
  margin: 0;
  display: block;
  padding: 3px 20px;
  clear: both;
  white-space: nowrap;
  transition: background-color .5s;
  -webkit-transition: background-color .5s;
  -moz-transition: background-color .5s;
}
.tt-suggestion > p:hover, .tt-suggestion > p:focus {
  color: #ffffff;
  text-decoration: none;
  outline: 0;
  background-color: #008CBA;
}
.tt-suggestion.tt-cursor {
  color: #ffffff;
  background-color: #008CBA;
}
.twitter-typeahead {
  display: block !important;
}
input.icon-placeholder {
 
  
  padding-left: 20px;
} 
input.icon-placeholder::-webkit-input-placeholder { font-family: FontAwesome; font-style: normal; font-weight: normal; text-decoration: inherit;}
input.icon-placeholder::-moz-placeholder { font-family: FontAwesome; font-style: normal; font-weight: normal; text-decoration: inherit;}
/*#endregion Search component*/

/*#region Global styling*/
html, body, .off-canvas-wrap, .inner-wrap, .main-section
{
  height: 100%;
}
#main
{
	min-height: 100%;
	position: relative;
}
#mainmain
{
	width:100%;
	height: 100%;
}
#mainContent
{
    height: 100%;
}
/*#endregion Global styling*/

/*#region Global Foundation additions*/
.row
{
    max-width:100% !important;
}
@media only screen and (orientation: landscape) and (min-width:40.063em) {
    .hide-for-medium-landscape {
        display: none !important;
    }

    .landscape-medium-1 {
    width: 8.33333%; }

  .landscape-medium-2 {
    width: 16.66667%; }

  .landscape-medium-3 {
    width: 25%; }

  .landscape-medium-4 {
    width: 33.33333%; }

  .landscape-medium-5 {
    width: 41.66667%; }

  .landscape-medium-6 {
    width: 50%; }

  .landscape-medium-7 {
    width: 58.33333%; }

  .landscape-medium-8 {
    width: 66.66667%; }

  .landscape-medium-9 {
    width: 75%; }

  .landscape-medium-10 {
    width: 83.33333%; }

  .landscape-medium-11 {
    width: 91.66667%; }

  .landscape-medium-12 {
    width: 100%; }
}
@media only screen and (orientation: portrait) and (min-width:40.063em)
{
   .hide-for-medium-portrait {
    display: none !important; }
    
     .portrait-medium-1 {
    width: 8.33333%; }

  .portrait-medium-2 {
    width: 16.66667%; }

  .portrait-medium-3 {
    width: 25%; }

  .portrait-medium-4 {
    width: 33.33333%; }

  .portrait-medium-5 {
    width: 41.66667%; }

  .portrait-medium-6 {
    width: 50%; }

  .portrait-medium-7 {
    width: 58.33333%; }

  .portrait-medium-8 {
    width: 66.66667%; }

  .portrait-medium-9 {
    width: 75%; }

  .portrait-medium-10 {
    width: 83.33333%; }

  .portrait-medium-11 {
    width: 91.66667%; }

  .portrait-medium-12 {
    width: 100%; }
}
/*#endregion Global Foundation additions*/

/*#region Identif-dropdown*/
.f-dropdown.open {
    left: inherit;
    right: 0px;
    top: 40px;
    position: absolute;
}
.dropdown.button, button.dropdown {
    line-height:.5rem;
}
.dropdown {
    cursor: pointer;
}

.f-dropdown:before {
        left: 161px;
}
.f-dropdown:after {
        left: 160px;
}

/*#endregion Identif-dropdown*/
#LoginForm {
    border-left: 1px solid #ccc;
}
@media only screen and (max-width:64.063em) {
    #LoginForm {
        border-left: none;
    }
}
span.hide {
    display:none;
}